In [16]:
import pandas as pd
import numpy as np

In [4]:
# Importing the csv
df = pd.read_csv("url.csv")
df.head()

,name,popularity,url
0,Birmingham (Anthem) (feat. Jaykae),41,https://p.scdn.co/mp3-preview/f702b792702f1d61...
1,Office Hours (feat. 50 Cent),55,https://p.scdn.co/mp3-preview/2dde28009d2238a5...
2,Hellcats & Trackhawks,72,https://p.scdn.co/mp3-preview/c847743c0a0aabf4...
3,Joshua,40,https://p.scdn.co/mp3-preview/64e9aecf30292b2b...
4,Lake Shore Drive,66,https://p.scdn.co/mp3-preview/6613f85913f2794b...

In [9]:
# Removing all of the rows with NULL url
df_clean = df[df["url"].notnull()]
df_clean.head()

,name,popularity,url
0,Birmingham (Anthem) (feat. Jaykae),41,https://p.scdn.co/mp3-preview/f702b792702f1d61...
1,Office Hours (feat. 50 Cent),55,https://p.scdn.co/mp3-preview/2dde28009d2238a5...
2,Hellcats & Trackhawks,72,https://p.scdn.co/mp3-preview/c847743c0a0aabf4...
3,Joshua,40,https://p.scdn.co/mp3-preview/64e9aecf30292b2b...
4,Lake Shore Drive,66,https://p.scdn.co/mp3-preview/6613f85913f2794b...

In [17]:
# Check to make sure there are no NULL cells in the df_clean
np.where(df_clean.isnull())
df_final = df_clean.drop_duplicates()

(array([], dtype=int64), array([], dtype=int64))

In [18]:
df_final.to_csv('cleanUrl.csv', index=False)